<p id="notice"><%= notice %></p>

<h1 class="h3">Resource Types</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resource_types.each do |resource_type| %>
      <tr>
        <td><%= link_to "#{resource_type.name}", resource_type %></td>
        <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
        <td><%= link_to 'Destroy', resource_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_resource_type_path, class:"btn-primary btn" %>

<h2 class="h3">Import Resource Types</h2>
<%= form_tag import_resource_types_path, multipart: true do %>
  <div class="btn btn-primary btn-file">
    Choose File
    <%= file_field_tag :file %>
  </div>
  <input type="text" id="chosen-file" class="form-control" readonly>
  <br><br>
  <%= submit_tag "Import", class:"btn-primary btn" %>
<% end %>
