<p id="notice"><%= notice %></p>

<h1 class="h3">Resource Types</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @resource_types.each do |resource_type| %>
      <tr>
        <td><%= link_to "#{resource_type.name}", resource_type %></td>
        <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
        <td><%= link_to 'Destroy', resource_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if resource_type.name == "Popular articles" %> 
          <td><%= link_to 'Import', resource_type, method: :post, data: { confirm: 'Are you sure?' } %></td>
          <%= form_tag "/resources/import", multipart: true do %>
            <td>
              <%= file_field_tag :file %>
              <%= submit_tag "Import" %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_resource_type_path, class:"btn-primary btn" %>
