<p id="notice"><%= notice %></p>

<h1>Resource Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_types.each do |resource_type| %>
      <tr>
        <td><%= resource_type.name %></td>
        <td><%= link_to 'Show', resource_type %></td>
        <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
        <td><%= link_to 'Destroy', resource_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Type', new_resource_type_path %>
