<%= form_for(world_region, :html => { :role => 'form'}) do |f| %>
  <% if world_region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(world_region.errors.count, "error") %> prohibited this world_region from being saved:</h2>

      <ul>
      <% world_region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), class: "btn-primary btn"  %>
  </div>
<% end %>
