<p id="notice"><%= notice %></p>

<h1 class="h3">World Regions</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @world_regions.each do |world_region| %>
      <tr>
        <td><%= link_to "#{world_region.name}", world_region %></td>
        <td><%= link_to 'Edit', edit_world_region_path(world_region) %></td>
        <td><%= link_to 'Destroy', world_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_world_region_path, class:"btn-primary btn" %>
