<p id="notice"><%= notice %></p>

<h1>World Regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @world_regions.each do |world_region| %>
      <tr>
        <td><%= world_region.name %></td>
        <td><%= link_to 'Show', world_region %></td>
        <td><%= link_to 'Edit', edit_world_region_path(world_region) %></td>
        <td><%= link_to 'Destroy', world_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New World Region', new_world_region_path %>
