<%= form_for(environmental_tag, :html => { :role => 'form'}) do |f| %>
  <% if environmental_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(environmental_tag.errors.count, "error") %> prohibited this environmental_tag from being saved:</h2>

      <ul>
      <% environmental_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), class: "btn-primary btn"  %>
  </div>
<% end %>
