
<p id="notice"><%= notice %></p>

<h1 class="h3">Environmental Tags</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @environmental_tags.each do |environmental_tag| %>
      <tr>
        <td><%= link_to "#{environmental_tag.name}", environmental_tag %></td>
        <td><%= link_to 'Edit', edit_environmental_tag_path(environmental_tag) %></td>
        <td><%= link_to 'Delete', environmental_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_environmental_tag_path, class:"btn-primary btn" %>

<h2 class="h3">Import Environmental Tags</h2>
<%= form_tag import_environmental_tags_path, multipart: true do %>
  <div class="btn btn-primary btn-file">
    Choose File
    <%= file_field_tag :file %>
  </div>
  <input type="text" id="chosen-file" class="form-control" readonly>
  <br><br>
  <%= submit_tag "Import", class:"btn-primary btn" %>
<% end %>
