<p id="notice"><%= notice %></p>

<h1>Environmental Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @environmental_tags.each do |environmental_tag| %>
      <tr>
        <td><%= environmental_tag.name %></td>
        <td><%= link_to 'Show', environmental_tag %></td>
        <td><%= link_to 'Edit', edit_environmental_tag_path(environmental_tag) %></td>
        <td><%= link_to 'Destroy', environmental_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Environmental Tag', new_environmental_tag_path %>
