<%= form_for(environmental_subtag) do |f| %>
  <% if environmental_subtag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(environmental_subtag.errors.count, "error") %> prohibited this environmental_subtag from being saved:</h2>

      <ul>
      <% environmental_subtag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%# f.collection_select :environmental_tag_id, EnvironmentalTag.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :environmental_tag_id %>
    <%= f.text_field :environmental_tag_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
