<p id="notice"><%= notice %></p>

<h1 class="h3">Environmental Subtags</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Environmental Tag</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @environmental_subtags.each do |environmental_subtag| %>
      <tr>
        <td><%= link_to "#{environmental_subtag.name}", environmental_subtag %></td>
        <td><%= environmental_subtag.environmental_tag.name %></td>
        <td><%= link_to 'Edit', edit_environmental_subtag_path(environmental_subtag) %></td>
        <td><%= link_to 'Delete', environmental_subtag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_environmental_subtag_path, class:"btn-primary btn" %>
