<div class="home-page-body">
  <div id="home-parallax"> 
    <div class="heading-title">
      <h2 class="title">
        ROOT SOLUTIONS
      </h2>
      <div id="main-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div> <!-- heading-title -->
  </div> <!-- home-parallax -->
  <div id="home-chevron" class="backgroundcolor"></div> <!-- home-chevron -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <blockquote class="home-description">
            "Now more than ever, we cannot rely on federal support for environmental progress. The science of behavior change has become even more relevant to thriving human and natural communities." 
          </blockquote>
          <h3 class="home-description-1">
            Partnering with change-makers to bridge the gap between environmental awareness & action.
          </h3>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
  <div id="home-parallax-1" class="heading-title">
    <h2 class="other-titles">
      What We Do
    </h2>
  </div> <!-- home-parallax-1 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <blockquote class="home-description">
            We leverage the science of human decision-making to build a world in which behavior is in harmony, rather than in conflict with the processes that allow all life to thrive. We work with environmental leaders increase the impact of environmental initiatives.
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="home-glyphicon-wrap">
        <div class="col-md-2">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">
          <i class="fa fa-leanpub" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">
          <i class="fa fa-level-up" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
        </div>
        <div class="col-md-2">
          <i class="fa fa-universal-access" aria-hidden="true"></i>
        </div>
      </div>
    </div> <!-- row -->
    <div class="home-what-we-do-wrap">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <p class="home-what-we-do-heading">
            <%= link_to "CONSULTING SERVICES", "/work_with_us", target: "_blank", :class => "home-links" %>
          </p>
          <p class="home-what-we-do-description">
            Helping clients and partners develop more effective environmental programs.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-heading">
            <%= link_to "PROJECTS", "/projects", target: "_blank", :class => "home-links" %>
          </p>
          <p class="home-what-we-do-description">
            View our current and past projects.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-heading">
            <%= link_to "TRAINING", "/work_with_us", target: "_blank", :class => "home-links" %>
          </p>
          <p class="home-what-we-do-description">
            Providing practical skills to maximize their impact, based on our unique, comprehensive behavior design framework.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-heading">
            <%= link_to "BEHAVIOR DESIGN FRAMEWORK", "/learn/behavior_design", target: "_blank", :class => "home-links" %>
          </p>
          <p class="home-what-we-do-description">
            The heart of the process each made up of time tested behavioral interventions.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-heading">
            <%= link_to "WHY BEHAVIOR", "/learn/why_behavior", target: "_blank", :class => "home-links" %>
          </p>
          <p class="home-what-we-do-description">
            Unraveling what drives human beliefs, attitudes and actions...
          </p>
        </div>
      </div> <!-- row -->
    </div> <!-- home-what-we-do-wrap -->
  </div> <!-- container-fluid -->
  <div id="home-parallax-2" class="heading-title">
    <h2 class="other-titles">Who We Are</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <p class="home-who-we-are">
            We are a team of a team of visionaries, creators, and disruptors who want to re-shape the future of the environmental movement in North America and beyond.
          </p>
          <p class="home-who-we-are-1">Meet our staff and contributors</p>
          <p class="home-who-we-are-2">Meet our advisors and parters</p>
          <p class="home-who-we-are-3">Peruse our current opportunities</p>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
</div> <!-- home-page-body -->