<div id="behavior_design-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      CAREERS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="careers-design-chevron"></div>
<div class='container-fluid careers-container'>
<!-- <div class='container-fluid'> -->
  <div id="career-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <h2 class="text-color-careers behavior-design-title">Current openings</h2>
      <h3 class="careers-text">
        Root Solutions is currently looking for volunteers for 2017. If you are in school or have recently graduated, or are looking to volunteer for other reasons, we need you!
      </h3>
    </div>
  </div>
  <div id="career-row" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-book-research-assistant"></div>
      <%= link_to "Book Research Assistant", asset_path("social_change_and_behavioral_economics_book_assistant.pdf"), class: "careers-links"%>
    </div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-communications-assistant"></div>
      <%= link_to "Communications Assistant", asset_path("environment_and_behavioral_economics_communications_assistant.pdf"), class: "careers-links"%>
    </div>
  </div>
  <div id="career-row" class="row">
    <div class='col-md-2'></div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-development-assistant"></div>
      <%= link_to "Development Assistant", asset_path("environment_and_behavioral_economics_development_assistant.pdf"), class: "careers-links"%>
    </div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-projects-assistant"></div>
      <%= link_to "Projects Assistant", asset_path("environment_and_behavioral_economics_assistant.pdf"), class: "careers-links" %>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#sidebar-nav').affix({
      offset: {
        top: function() {
          return $('#header-row').offset().top + $('#header-row').outerHeight(true) - 170;
        }
      }
    })
    $('#sidebar-nav a').click(function(){
      $('#sidebar-nav').affix('checkPosition');
    })
  });
</script>