<div id="behavior_design-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      CAREERS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="careers-design-chevron"></div>
<div class='container-fluid'>
<!-- <div class='container-fluid'> -->
  <div id="career-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <h1 class="text-color behavior-design-title">Current openings</h1>
      <h3 class="careers-text">Root Solutions is currently looking for volunteers for the spring and summer of 2017. If you are in school or have recently graduated, or are looking to volunteer for other reasons, we need you!</h3>
    </div>
  </div>
  <div id="career-row" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-book-research-volunteer"></div>
      <%= link_to "Book Research Volunteer","http://media.wix.com/ugd/5440fd_55fcfbeb5bdd4ac8a72df882a47dfd63.pdf", class: "careers-links"%>
    </div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-communications-volunteer"></div>
      <%= link_to "Communications Volunteer","http://media.wix.com/ugd/5440fd_e472b525f42c4de286641a43320dbce6.pdf", class: "careers-links"%>
    </div>
  </div>
  <div id="career-row" class="row">
    <div class='col-md-2'></div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-development-volunteer"></div>
      <%= link_to "Development Volunteer","http://media.wix.com/ugd/5440fd_fc36298f86cd4a7db3e257831c0bd028.pdf", class: "careers-links"%>
    </div>
    <div class="col-md-4">
      <div class="careers-image" id="careers-image-graphic-design-volunteer"></div>
      <%= link_to "Graphic Design Volunteer","http://media.wix.com/ugd/5440fd_83dfaf9faf734bf39e0463651967c6c8.pdf", class: "careers-links"%>
    </div>
  </div>
  <div id="career-row" class="row">
    <div class='col-md-2'></div>
    <div class="col-md-8">
      <div class="careers-image" id="careers-image-project-assistant-volunteer"></div>
      <%= link_to "Projects Assistant Volunteer", "http://media.wix.com/ugd/5440fd_613c95fb84ea464696e60d93443b0763.pdf", class: "careers-links" %>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#sidebar-nav').affix({
      offset: {
        top: function() {
          return $('#header-row').offset().top + $('#header-row').outerHeight(true) - 170;
        }
      }
    })
    $('#sidebar-nav a').click(function(){
      $('#sidebar-nav').affix('checkPosition');
    })
  });
</script>