<div class="team-body">
  <div id="team-parallax">
    <div class="heading-title">
      <h2 class="title">
        Team
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div>
  </div> <!-- team-parallax close -->
  <div id="team-chevron" class="team-background-color"></div>
  <div class='container-fluid'>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="team-header-wrap">
          <blockquote>
            <h1 class="team-header-one">
              Meet those who are accelerating social change
            </h1>
          </blockquote>
          <p>
            Lorem ipsum dolor sit amet, et velit ubique eum, eam ne dico labores. Id eos quem odio saepe, eam in sale appareat, eripuit propriae legendos eu mea. In inimicus gubergren instructior est, in inermis salutatus reprehendunt eum. No eros assueverit constituam vis, sit tacimates lobortis eu, putent iriure disputationi ex est.
          </p>
        </div> <!-- team-header-wrap -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
  </div> <!-- container-fluid team-background and team-info -->
  <div id="team-parallax-1" class="heading-title">
    <h2 class="other-titles">
      Root Solutions
    </h2>
  </div> <!-- team-parallax-1 -->
  <div class="container-fluid backgroundcolor">
    <div class="team-root-solutions-wrap">
      <div class="row large-team-root" id="nya-van-leuvan">
        <div class="col-md-3 col-md-offset-1" style="height: 400px">
          <img src="http://placehold.it/280x400" style="display:block;">
        </div>
        <div class="col-md-7">
          <h2 style="margin-top:0px;">Nya Van Leuvan</h2>
          <h3 style="margin-top:0px;">Executive Director</h3>
          <p class="team-root-description">
            Nya has always had a deep-seated passion for the environment and understanding human behavior. Her conservation work has focused on the application of research in institutional design, sociology, economics and other fields to create policies and design principles that facilitate rational environmental decision-making, namely in service of preserving the world’s oceans. Nya has created educational and outreach materials for the National Science Foundation and the National Geographic Society on the fragility of earth’s coral reef ecosystems. As a fisheries specialist at Environmental Defense Fund (EDF), she provided sustainable fishery management expertise through workshops, trainings and resource development. During her four-year tenure at EDF, Nya met and worked closely with Rod Fujita. Together they led the first introduction of decision science to their colleagues.Nya has co-authored two books: Catch Share Design Manual, Volume 1: A Guide for Managers and Fishermen and Catch Share Design Manual, Volume 2: Cooperative Catch Shares as well as several scientific articles. Nya holds a M.A. from the School of Human Evolution and Social Change, in conjunction with the Institute of Human Origins, at Arizona State University. She holds a B.A. from U.C. Berkeley.
          </p>
          <p class="team-root-contact-info">
            View Nya’s profile on <%= link_to "LinkedIn", "https://www.linkedin.com/in/tonyavanleuvan", target: "_blank" %>.
          </p>
          <p class="team-root-contact-info">
            View Nya's <%= link_to "Twitter", "https://twitter.com/root_solutions", target: "_blank" %> feed.
          </p>
          <p class="team-root-contact-info">
            Email: <%= mail_to "nya.vanleuvan@therootsolutions.org" %>
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-root -->
      <div class="row large-team-root" id="rod-fujita" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7">
          <h2 style="margin-top:0px;">Rod Fujita</h2>
          <h3 style="margin-top:0px;">Science Director</h3>
          <p class="team-root-description">
            Rod is a leader in the theory and practice of aligning incentives with good conservation outcomes, with a focus on improving the health of the world’s oceans.  In 2000, he was awarded a Pew Fellowship in Marine Conservation to work on emerging issues in ocean conservation. In addition to his role at Root Solutions, Rod is the Director of Research and Development at Environmental Defense Fund’s Oceans Program where he has been working with fishing communities, regulators and business leaders around the world to improve fishery policies for more than 25 years. He has helped establish marine protected areas (MPAs) totaling more than 10,000 square miles and worked with partners to reduce the impacts of trawling off California’s coast with an innovative private buyout and transition to more sustainable types of fishing. In 2008, Rod co-founded the California Fisheries Fund, a revolving loan fund that supports fishermen and fishing businesses as they transition to more sustainable business practices.
          </p>
          <p class="team-root-description">
            Rod has served on numerous state, regional, federal and international advisory bodies concerned with fisheries and ocean conservation issues. He has authored numerous peer-reviewed scientific publications as well as many popular articles and the well-received book, Heal the Ocean. Rod’s interests in the workings of the human mind converged with his passion for conservation during discussions of the book Nudge by decision science pioneers William Thayer and Sunstein, which led him to co-found Root Solutions. His current research in the field of environmental decision science is aimed at increasing the effectiveness of conservation advocacy and policy making.
          </p>
          <p class="team-root-contact-info">
            View Rod’s profile on <%= link_to "LinkedIn", "https://www.linkedin.com/in/rod-fujita-8046678", target: "_blank" %>.
          </p>
          <p class="team-root-contact-info">
            View Rod’s <%= link_to "Twitter", "https://twitter.com/rodfujita", target: "_blank" %> feed.
          </p>
          <p class="team-root-contact-info">
            Check out Rod's book, <%= link_to "Heal the Ocean", "http://books.google.com/books?id=d7Bj3xS6i9gC&dq=heal+the+ocean+by+rod+fujita&source=gbs_navlinks_s" %>.
          </p>
          <p class="team-root-contact-info">
            Email: <%= mail_to "rod.fujita@therootsolutions.org" %>
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-root -->
      <div class="row large-team-root" id="aaron-pope" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7">
          <h2 style="margin-top:0px;">Aaron Pope</h2>
          <h3 style="margin-top:0px;">Partnership Manager</h3>
          <p class="team-root-description">
            Aaron became interested in environmental issues at an early age. Conversations about topics such as global warming and conservation were common in his family, and combined with regular hiking, backpacking and rafting trips instilled in him a passion for the natural world. An avid advocate, Aaron filled his student years working on conservation issues through internships, summer jobs and activism. While attending UC Santa Barbara, he helped run the student Environmental Affairs Board, forming partnerships with other local organizations and inspiring many of his peers to take an active role in safeguarding the Santa Barbara coastline.
          </p>
          <p class="team-root-description">
            Aaron’s passion eventually led him to the California Academy of Sciences in San Francisco, where he served as the prestigious institution’s sustainability programs manager from 2008 to 2015. He managed the organization’s sustainability roadmap, helped it achieve LEED Platinum O&M certification, built a large network of private, public and government sector partners, served on a diversity of boards and advisory committees, developed content for climate-related exhibits and programs, led staff engagement, and spearheaded environmental outreach through hundreds of speaking engagements and interviews.
          </p>
          <p class="team-root-description">
            Aaron brings a strong focus on measurable, meaningful impact to his work and he is passionate about combining innovation and social science to achieve large-scale systems change.
          </p>
          <p class="team-root-contact-info">
            Email: <%= mail_to "aaron.pope@therootsolutions.org" %>
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-root -->
      <div class="row large-team-root" id="pauline-miller" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7">
          <h2 style="margin-top:0px;">Pauline Miller</h2>
          <h3 style="margin-top:0px;">Project Coordinator</h3>
          <p class="team-root-description">
            Pauline graduated summa cum laude from the University of California, Berkeley with a degree in Sociology and a minor in Public Policy. As an undergraduate, she worked as a research assistant on a project detailing the local effects of the HIV/AIDS epidemic on a faith community in San Francisco’s Castro neighborhood. Passionate about the environmental and social impacts of the food industry, Pauline wrote her honors thesis on food insecurity in West Oakland and volunteered with a local community garden. She has worked in communications on behalf of government and non-profits and is particularly interested in reducing barriers to environmentally as well as socially sustainable behaviors. Pauline is excited to continue exploring the complexities of human behavior and work with Root Solutions in developing tools geared toward enhancing the efficacy of environmental efforts. 
          </p>
          <p class="team-root-contact-info">
            Email: <%= mail_to "pauline.miller@therootsolutions.org" %>
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-root -->
      <div class="row large-team-root" id="alexandra-smith" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7">
          <h2 style="margin-top:0px;">Alexandra Smith</h2>
          <h3 style="margin-top:0px;">Project Coordinator</h3>
          <p class="team-root-description">
            Alex has always been fascinated by the potential of psychology to positively impact people, both consciously and subconsciously. She believes that those who employ social influence also have a responsibility to direct their expertise towards the causes that really matter. The environmental movement can benefit in so many ways from behavior change research, and Root Solutions is actively working to put that knowledge into practice; Alex is overjoyed to be a part of this process.
          </p>
          <p class="team-root-description">
            At Root Solutions, Alex manages and coordinates both internal and collaborative projects. She also develops behavior change content for publications, web postings, and newsletters.
          </p>
          <p class="team-root-description">
            Alex holds an MS in Applied Social Psychology from Royal Holloway, University of London. During her degree, she focused on environmental decision-making, exploring the framing of environmental messages and their subsequent impact on public willingness to donate to disaster relief. She also holds a BA in Psychology and Minor in Sociology from UC Santa Cruz. Prior to joining Root Solutions, Alex held several roles as a Research Assistant, and has worked with conservation organizations in California and the United Kingdom.
          </p>
          <p class="team-root-contact-info">
            View Alex’s profile on <%= link_to "LinkedIn", "https://www.linkedin.com/in/alexandramaysmith", target: "_blank" %>.
          </p>
          <p class="team-root-contact-info">
            View Alex’s <%= link_to "Twitter", "https://twitter.com/alexsmithereens", target: "_blank" %> feed.
          </p>
          <p class="team-root-contact-info">
            Email: <%= mail_to "info@therootsolutions.org" %>
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-root -->
    </div> <!-- team-root-solutions-wrap -->
  </div> <!-- container-fluid -->
  <div class="row" style="padding-bottom: 50px;">
    <div class='col-md-2 col-md-offset-1'>
      <a class="select-team-root" href="#nya-van-leuvan">
        <div class="team-root-wrap active-team-root">
          <div class="team-root-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-root-text-color team-root-hover">Nya Van Leuvan</h2>
        </div>
      </a> <!-- select-root-team -->
    </div> <!-- col-md-2 col-md-offset-1 -->
    <div class='col-md-2'>
      <a class="select-team-root" href="#rod-fujita">
        <div class="team-root-wrap active-team-root">
          <div class="team-root-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-root-text-color team-root-hover">Rod Fujita</h2>
        </div>
      </a> <!-- select-root-team -->
    </div> <!-- col-md-2 -->
    <div class='col-md-2'>
      <a class="select-team-root" href="#aaron-pope">
        <div class="team-root-wrap active-team-root">
          <div class="team-root-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-root-text-color team-root-hover">Aaron Pope</h2>
        </div>
      </a> <!-- select-root-team -->
    </div> <!-- col-md-2 -->
    <div class='col-md-2'>
      <a class="select-team-root" href="#pauline-miller">
        <div class="team-root-wrap active-team-root">
          <div class="team-root-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-root-text-color team-root-hover">Pauline Miller</h2>
        </div>
      </a> <!-- select-root-team -->
    </div> <!-- col-md-2 -->
    <div class='col-md-2'>
      <a class="select-team-root" href="#alexandra-smith">
        <div class="team-root-wrap active-team-root">
          <div class="team-root-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-root-text-color team-root-hover">Alexandra Smith</h2>
        </div>
      </a> <!-- select-root-team -->
    </div> <!-- col-md-2 -->
  </div> <!-- row -->
  <div id="team-parallax-2" class="heading-title">
    <h2 class="other-titles">
      Contributors
    </h2>
  </div> <!-- team-parallax-2 -->
  <div class="container-fluid">
  <div class="team-contributors-wrap-1">
      <div class="row large-team-contributors" id="willow-bautista">
        <div class="col-md-3 col-md-offset-1" style="height: 400px">
          <img src="http://placehold.it/280x400" style="display:block;">
        </div>
        <div class="col-md-7" style="height: 400px;">
          <h2 style="margin-top:0px;">Willow Bautista</h2>
          <h3 style="margin-top:0px;">Research Specialist</h3>
          <p class="team-contributors-description">
            Willow graduated in June of 2012 from the Bren School of Environmental Science & Management at UCSB where she double specialized in Coastal Marine Resource Management and Economics and Politics of the Environment. She has a bachelor's degree in Psychology from the University of Washington in Seattle, and she grew up in New Mexico. Since graduating from Bren, Willow has held a variety of positions working on different aspects of international environmental policy and management. She began her career as a consultant working on supply chain analysis for EcoAnalytics, and then completed an internship with the Catch Shares Design Center at Environmental Defense Fund. From that position she transitioned onto the Oceans Program Research and Development team, working under Dr. Fujita. As a member of the R&D Team she assisted with multiple projects geared towards improving management of data-limited fisheries around the world. Willow has long been interested in understanding the drivers of the large and small decisions that people make, both alone and as a larger society, that impact conservation and natural resource use. She is excited to work towards broadening this understanding with Root Solutions.
          </p>
          <p class="team-contributors-contact-info">
            View Willow's profile on <%= link_to "LinkedIn", "https://www.linkedin.com/in/willow-battista-0329093a", target: "_blank" %>.
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-contributors -->
      <div class="row large-team-contributors" id="kirby-culbertson" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7" style="height: 400px;">
          <h2 style="margin-top:0px;">Kirby Culbertson</h2>
          <h3 style="margin-top:0px;">Research and Development Associate</h3>
          <p class="team-contributors-description">
            Kirby graduated in 2012 with an M.A. from from the University of Southern California’s Environmental Studies Program, where she specialized in environmental policy. Prior to joining the Root Solutions team, she worked on projects related to integrated ecosystem management in marine environments and water policy development in China and India. Kirby recognizes the incredible potential decision science has to revolutionize environmental advocacy and policy. She hopes to promote the creation of effective, evidence-based environmental policy throughout her career. To view Kirby's profile on LinkedIn click here.
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-contributors -->
      <div class="row large-team-contributors" id="jessica-robbins" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7" style="height: 400px;">
          <h2 style="margin-top:0px;">Jessica Robbins</h2>
          <h3 style="margin-top:0px;">Research Associate</h3>
          <p class="team-contributors-description">
            Jessica Robbins graduated from UC Berkeley with a B.A. in Molecular and Cell Biology. She has long been interested and worked in fields related to the promotion of sustainability, environmental policy, and science education. At UC Berkeley, Jessica worked as a writer and editor for the Berkeley Scientific Journal, was a member of a student-run environmental consulting group, and contributed to research projects in population genetics and quantitative ecology. She is now looking forward to learning more about how decision science principles and interventions can be used to create a seamless transition to a more sustainable society.
          </p>
          <p class="team-contributors-contact-info">
            View Jessica's profile on <%= link_to "LinkedIn", "https://www.linkedin.com/in/jessica-robbins-2887b123", target: "_blank" %>.
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-contributors -->
      <div class="row large-team-contributors" id="anjana-krishnan" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7" style="height: 400px;">
          <h2 style="margin-top:0px;">Anjana Krishnan</h2>
          <h3 style="margin-top:0px;">Research Associate</h3>
          <p class="team-contributors-description">
            Anjana is a Masters student (Class of 2016) at the Bren School of Environmental Science & Management, UCSB, where she specializes in Corporate Environmental Management and Pollution Prevention & Remediation. The interdisciplinary curriculum at Bren has exposed her to various aspects of environmental management involving Economics, Statistics, Biochemistry, Operational Management and Decision Analysis, to name a few. At Bren, Anjana is part of group project that uses Life Cycle Assessment to analyze the environmental and socioeconomic impacts of solar microgrids on rural off-grid communities in East Africa. She also works as a Student Research Assistant at Bren, studying property and water rights in western United States and its connection to the on-going drought. Before joining UCSB, Anjana completed her undergraduate Engineering degree in Biotechnology from India. She worked as a Research Apprentice in the Hygiene Education Project headed by Professor David Levine (Haas School of Business, UC Berkeley), being implemented in India. Anjana is passionate about environmental sustainability in an organizational setup and understanding the impact of decision science in successful environmental management. She is looking forward to gaining valuable experience in this field by working at Root Solutions. 
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-contributors -->
      <div class="row large-team-contributors" id="michael-clark" style="display:none;">
        <div class="col-md-3 col-md-offset-1">
          <img src="http://placehold.it/280x400">
        </div>
        <div class="col-md-7" style="height: 400px;">
          <h2 style="margin-top:0px;">Michael Clark</h2>
          <h3 style="margin-top:0px;">Research Assistant</h3>
          <p class="team-contributors-description">
            Michael is attending the University of Washington for a master’s in public policy. He graduated with honors from UC Berkeley with a bachelor’s degree in political science. Before working at Root Solutions, Michael worked as a tutor for foster children at Everett Middle School in San Francisco and as a social media intern for AidGrade, a nonprofit conducting meta-analyses of international development impact evaluations.
          </p>
        </div> <!-- col-md-7 -->
      </div> <!-- row large-team-contributors -->
    </div> <!-- team-wrap -->
  </div> <!-- container-fluid -->
  <div class="row" style="padding-bottom: 50px;">
    <div class='col-md-2 col-md-offset-1'>
      <a class="select-team-contributors" href="#willow-bautista">
        <div class="team-contributors-wrap active-team-contributors">
          <div class="team-contributors-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-contributors-text-color team-contributors-hover">Willow Bautista</h2>
        </div>
      </a> <!-- select-contributors-team -->
    </div> <!-- col-md-2 col-md-offset-1 -->
    <div class='col-md-2'>
      <a class="select-team-contributors" href="#kirby-culbertson">
        <div class="team-contributors-wrap active-team-contributors">
          <div class="team-contributors-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-contributors-text-color team-contributors-hover">Kirby Culbertson</h2>
        </div>
      </a> <!-- select-contributors-team -->
    </div> <!-- col-md-2 -->
    <div class='col-md-2'>
      <a class="select-team-contributors" href="#jessica-robbins">
        <div class="team-contributors-wrap active-team-contributors">
          <div class="team-contributors-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-contributors-text-color team-contributors-hover">Jessica Robbins</h2>
        </div>
      </a> <!-- select-contributors-team -->
    </div> <!-- col-md-2 -->
    <div class='col-md-2'>
      <a class="select-team-contributors" href="#anjana-krishnan">
        <div class="team-contributors-wrap active-team-contributors">
          <div class="team-contributors-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-contributors-text-color team-contributors-hover">Anjana Krishnan</h2>
        </div>
      </a> <!-- select-contributors-team -->
    </div> <!-- col-md-2 -->
    <div class='col-md-2'>
      <a class="select-team-contributors" href="#michael-clark">
        <div class="team-contributors-wrap active-team-contributors">
          <div class="team-contributors-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-contributors-text-color team-contributors-hover">Michael Clark</h2>
        </div>
      </a> <!-- select-contributors-team -->
    </div> <!-- col-md-2 -->
  </div> <!-- row -->
</div> <!-- team-body -->
<script>
  // The function actually applying the offset
  function offsetAnchor() {
      if(location.hash.length !== 0) {
          window.scrollTo(window.scrollX, window.scrollY - 100);
      }
  }

  // This will capture hash changes while on the page
  window.addEventListener("hashchange", offsetAnchor);

  // This is here so that when you enter the page with a hash,
  // it can provide the offset in that case too. Having a timeout
  // seems necessary to allow the browser to jump to the anchor first.
  window.setTimeout(offsetAnchor, 1); // The delay of 1 is arbitrary and may not always work right (although it did in my testing).

  $(function() {
    $('.select-team-root').on('click', function(){
      if ($(this).find(".team-wrap").hasClass("active-team-root")) {
        return false;
      } else {
        $('.team-wrap').removeClass("active-team-root");
        $('.large-team-root').hide();
        $($(this).attr('href')).show();
        $(this).find(".team-wrap").addClass('active-team-root');
      }
    });
    $('.select-team-contributors').on('click', function(){
      if ($(this).find(".team-wrap").hasClass("active-team-contributors")) {
        return false;
      } else {
        $('.team-wrap').removeClass("active-team-contributors");
        $('.large-team-contributors').hide();
        $($(this).attr('href')).show();
        $(this).find(".team-wrap").addClass('active-team-contributors');
      }
    });
  });
</script>