<div id="wwu-parallax"> 

  <div class="heading-title">
    <h2>
      WORK WITH US
    </h2>
    <div id="main-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>

<div class= "wwu-chevron">
</div>
 <!-- <div class='container-fluid'> -->
 <div id="header-row" class="row">
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <p>
      We work directly with organizations, companies and governmental agencies to identify behavioral leverage points in their initiatives, then assist in the design and implementation of cost-effective and scalable behavioral strategies.
    </p>
  </div>
  <div class='col-md-2'></div>
</div>
</div>

<div id="wwu-parallax" class="heading-title">
  <h2 class="other-titles">Consulting Services</h2>
</div>
<div class="wwu-white-space"> 
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <p>
        We provide a range of services:
      </p>
      <p>
        <li>
          Background research (case studies, social forces, values, mental models) Audience segmentation
        </li>
        <li>
          Survey / interview / focus group design, implementation and reporting
        </li>
        <li>
          Messaging, collateral and interface design
        </li>
        <li>
          Behavior change program design, piloting, implementation and evaluation
          Social media strategy​
        </li>
      </p>
      ​  <p>
      We have developed a systematic approach for integrating behavioral insights into both new and ongoing projects. Learn more about the Root Solutions Environmental Behavior Design Framework.
    </p> 
    <%= link_to "View our past projects", "http://www.therootsolutions.org/copy-of-work-with-us", class: "work-with-us-link" %>
  </div>
  <div class='col-md-2'></div>
</div>
</div>
<div id="parallax-3" class="heading-title">
  <h2 class="other-titles">Training</h2>
  <div class="work-with-us-quote">
    “I feel like anyone working in environmental program design and implementation should receive this training, especially if they have a goal of changing people's’ behavior. The training was interesting, engaging, and relevant; we came out of it with specific steps we can take to improve our programming to make it more relevant and effective.”
    <p>–Julia Hatton, Director of Youth Programs, Rising Sun Energy Center</p>
  </div>
</div>
<div id="header-row" class="row">
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div  class="wwu-white-space">
      <p>
        By providing practical instruction on the use of behavioral design, we equip change-makers to create a brighter, healthier, and more sustainable world. Our trainings are based on our unique behavior design framework, using a mix of case studies, informative storytelling, hands-on activities, and concrete design material.
      </p>
      <br>
      <p>
        Training Format
        <li>Short topical training</li>
        <li>1 & 2 day workshops</li>
        <li>Specialized trainings tailored to meet the needs of your organization</li>
      </p>
      <br>
      <p>
        Common to all trainings
        <li>Through our training, you will learn how to immediately integrate behavior design into your effort, driving success and creating lasting impact for your organization and, most importantly, for the environmental movement.</li>
        <li>Techniques to identify the barriers to action faced by your target group.</li>
        <li>Examples of recently conducted experiments and real world applications that provide insight on specific best practices.</li>
        <li>Initiative redesign strategies: an in-depth look at how organizations are failing to captivate or motivate their audiences, and how you can jump ahead of the curve.</li>
      </p>
      <br>
      <p>
        Topics may include
        <li>Designing the best choice architecture in a specific setting</li>
        <li>Designing pledges for lasting impact</li>
        <li>Exploring how cognitive dissonance can help to strengthen commitments</li>
        <li>Guidance framing your outreach efforts that are compatible with cognitive biases</li>
        <li>Connecting through comparison: how to best create normative messages</li>
        <li>Highlighting progress for enhanced motivation</li>
        <li>Making it matter: working to localize abstract messages</li>
        <li>Value-matching as a tactic to connect with your audience</li>
      </p>
    </div>
  </div>
  <div class='col-md-2'></div>
</div>
<!-- <h3 class="wwu-heading" align="center">Contact us to discuss client work or trainings</h3> -->
<div class="wwu-form">

<h3 class="wwu-heading">Get in touch</h3>
  <div class="row">
    <div class="col-md-6">
      <%= form_tag '/work_with_us', method: :post do %>
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-7 col-sm-10 inputs-group">
              <%=label_tag :name %>
              <p class="wwu-errors js-name-errors"></p>
              <%=text_field_tag :name,"",placeholder: "Sheryl Sandberg", class:"form-control js-name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-7 col-sm-10 inputs-group">
              <%=label_tag :email %>
              <p class="wwu-errors js-email-errors"></p>
              <%=text_field_tag :email,"",placeholder: "sheryl.s@facebook.com", class:"form-control js-email" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-7 col-sm-10 inputs-group">
              <%=label_tag :subject %>
              <p class="wwu-errors js-subject-errors"></p>
              <%=text_field_tag :subject, "", placeholder: "Client work or trainings", class:"form-control js-subject"  %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-7 col-sm-10 inputs-group">
              <%=label_tag :message %>
              <p class="wwu-errors js-message-errors"></p>
              <%=text_area_tag :message,"", placeholder: "Hello! I am a big fan of your work. Getting in touch for the training that we want to conduct for our employees.",class:"form-control js-message", rows: 10, style: 'width:100%;' %>
            </div>
          </div>
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
          <div class="wwu-btn">
            <%= button_tag "Send".html_safe, class: "wwu-button"%>
          </div>
        </div>
        <div class='col-md-2'></div>
        <% end %>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

  $(".wwu-button").click(function(e){
    e.preventDefault();
    $.ajax({
      type   : "POST",
      url    : "/work_with_us",
      data   : { "name"   : $(".js-name").val(),
                 "email"  : $(".js-email").val(),
                 "subject": $(".js-subject").val(),
                 "message": $(".js-message").val()
               },
      datatype: "json",
      success: function(data) {
        console.log("success");
        console.log(data);
        if($(".js-subscribe-response").html() == "") {
          $(".js-subscribe-response").html(data["message"]);
        } else {
          $(".js-subscribe-response").html("");
          $(".js-subscribe-response").html(data["message"]);
        }
      },
      error  : function(request, status, error) {
        var data = JSON.parse(request.responseText);
        console.log(data);
        if( data.message.email) {
          if($(".js-email-errors").html() == "") {
            $(".js-email-errors").html("*" + data.message.email);
          } else {
            $(".js-email-errors").html("");
            $(".js-email-errors").html("*" + data.message.email);
          }
        };
        if(data.message.name) {
          if($(".js-name-errors").html() == "") {
            $(".js-name-errors").html("*" + data.message.name);
          } else {
            $(".js-name-errors").html("");
            $(".js-name-errors").html("*" + data.message.name);
          }
        }
        if( data.message.message) {
          if($(".js-message-errors").html() == "") {
            $(".js-message-errors").html("*" + data.message.message);
          } else {
            $(".js-message-errors").html("");
            $(".js-message-errors").html("*" + data.message.message);
          }
        }
        if( data.message.subject) {
          if($(".js-subject-errors").html() == "") {
            $(".js-subject-errors").html("*" + data.message.subject);
          } else {
            $(".js-subject-errors").html("");
            $(".js-subject-errors").html("*" + data.message.subject);
          }
        }
      }
    });
  });

});
</script>