<div class="container-fluid">
  
  <!-- ABOUT SECTION START -->
  <!-- About: Intro -->
    <div id="about-section">
      <div class="row" id="work-with-us-intro">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centered">
        <h1 class="about-us-title">Work With Us</h1>
      </div>

      <div class="row" id="about-intro-mission">

          <div class="col-md-12 centered">
            <p class="content">We work directly with organizations, companies and governmental agencies to identify behavioral leverage points in their initiatives, then assist in the design and implementation of cost-effective and scalable behavioral strategies.</p>
          </div>
        </div>
     </div>
     <div class="col-md-12">
        <h2 class="sub-section-title centered"> Consulting Services</h2>
        <div class="col-md-12">
          <p>We provide a range of services:</p>
​
          <ul class="list1">
          <li>Background research (case studies, social forces, values, mental models)</li>
          <li>Audience segmentation</li>
          <li>Survey / interview / focus group design, implementation and reporting</li>
          <li>Messaging, collateral and interface design</li>
          <li>Behavior change program design, piloting, implementation and evaluation</li>
          <li>Social media strategy</li>​
        </ul>
 
          <p>We have developed a systematic approach for integrating behavioral insights into both new and ongoing projects. Learn more about the Root Solutions Environmental Behavior Design Framework.</p>
        </div>
      </div>

      
      <div class="row margin-second-work-with-us-img" id="work-with-us-second">
        <div class="col-md-12 centered">
          <!-- <button class="centered newsletter">Projects</button> -->
        
        <div class="row" id="about-intro-mission">
          <div class="col-md-12 centered">
            <h2 class="sub-section-title">Projects</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
            <div class="image-frame"></div>
              <p>Here is a sample of our projects</p>
            
            </div>
            </div>


            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <%= image_tag 'nature02.jpg' %>
                <h3 class="image-content-title">Project 1x</h3>
                <p> content of this project 1x </p>    
              </div>
              <div class="col-md-5">
                <%= image_tag 'nature02.jpg' %>
                <h3>Project 2x </h3>  
                <p> content of this project 2x</p>  
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <%= image_tag 'nature02.jpg' %>
                <h3>Project 3x</h3>
                <p>content of this project 3x</p>     
              </div>
              <div class="col-md-5">
                <%= image_tag 'nature02.jpg' %>
                <h3>Project 4x</h3>
                <p>content of this project 4x</p> 
              </div>
              <div class="col-md-1"></div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <%= image_tag 'nature02.jpg' %>
                <h3>Project 4x</h3>
                <p>content of this project 4x</p> 
              </div>
              <div class="col-md-5">
                <%= image_tag 'nature02.jpg' %>
                <h3>Project 5x</h3>
                <p>content of this project 5x</p> 
              </div>
              <div class="col-md-1"></div>
            </div>
        </div>
        </div>

      </div>
      <div class="col-md-12 centered">
        <h2 class="sub-section-title"> Training</h2>
        <!-- <div class="col-md-12 centered"> -->
          <p>By providing practical instruction on the use of behavioral design, we equip change-makers to create a brighter, healthier, and more sustainable world. Our trainings are based on our unique behavior design framework, using a mix of case studies, informative storytelling, hands-on activities, and concrete design material.</p>
        </div>
      </div>

      <div class="row margin-second-work-with-us-img" id="work-with-us-third">
        <div class="col-md-12 centered">
          <button class="centered newsletter">Link To something</button>
        </div>
        <div class="row" id="about-intro-mission">
          <div class="col-md-12 centered">
            <h4 class="sub-section-title">Projects</h4>
            <div class="col-md-12 centered">
              <p>Maecenas nunc ut nonummy amet ac venenatis, lacus nisl ac leo dolor, eleifend luctus hendrerit tempor, massa dictum gravida et deserunt fermentum, mi neque turpis nec amet fusce integer. Dui maecenas tempus consequat. Explicabo nascetur nascetur mi, molestie ultricies proin, donec scelerisque sodales bibendum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 centered">
        <h4 class="sub-section-title"> More Info for projects</h4>
        <div class="col-md-12 centered">
          <p>Maecenas nunc ut nonummy amet ac venenatis, lacus nisl ac leo dolor, eleifend luctus hendrerit tempor, massa dictum gravida et deserunt fermentum, mi neque turpis nec amet fusce integer. Dui maecenas tempus consequat. Explicabo nascetur nascetur mi, molestie ultricies proin, donec scelerisque sodales bibendum.</p>
        </div>
      </div>

    <!-- About: What We Do -->

  </div>
  </div> <!-- /.container -->