<p id="notice"><%= notice %></p>

<h1 class="h3">Building Block</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @building_blocks.each do |building_block| %>
      <tr>
        <td><%= link_to "#{building_block.name}", building_block %></td>
        <td><%= link_to 'Edit', edit_building_block_path(building_block) %></td>
        <td><%= link_to 'Delete', building_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_building_block_path, class:"btn-primary btn" %>

<h2 class="h3">Import Building Blocks</h2>
<%= form_tag import_building_blocks_path, multipart: true do %>
  <div class="btn btn-primary btn-file">
    Choose File
    <%= file_field_tag :file %>
  </div>
  <input type="text" id="chosen-file" class="form-control" readonly>
  <br><br>
  <%= submit_tag "Import", class:"btn-primary btn" %>
<% end %>
