<h1>All Resources</h1>

<table>
  <tr>
    <th>World region</th>
    <th>Title</th>
    <th>Author</th>
    <th>News source</th>
    <th>Date</th>
    <th>Summary</th>
    <th>Url</th>
    <th>Notes</th>
    <td colspan="2"></td>
  </tr>
  <% @resources.each do | resource | %>
  <tr>
    <td><%= resource.world_region %></td>
    <td><a href="/resources/<%= resource.id %>"><%= resource.title %></a></td>
    <td><%= resource.author %></td>
    <td><%= resource.news_source %></td>
    <td><%= resource.date %></td>
    <td><%= resource.summary %></td>
    <td><%= resource.url %></td>
    <td><%= resource.notes %></td>
    <td>Edit</td>
    <td><%= link_to "Delete", "/resources/#{resource.id}", method: :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to "New Resource", new_resource_path %>
