
 
<p id="notice"><%= notice %></p>

<h1 class="h3">Resources</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Title</th>
      <th>World Region ID</th>
      <th>Author</th>
      <th>News Source ID</th>
      <th>Date</th>
      <th>Content</th>
      <th>URL</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= link_to "#{resource.title}", resource %></td>
        <td><%= resource.world_region_id %></td>
        <td><%= resource.author %></td>
        <td><%= resource.news_source_id %></td>
        <td><%= resource.date %></td>
        <td><%= resource.content %></td>
        <td><%= resource.url %></td>
        <td><%= resource.admin_notes %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_resource_path, class:"btn-primary btn" %>
