<h1 class="h3">Search Results</h1>

<table class="table-hover table">
  <thead>
    <tr>
      <th>Title</th>
      <th>World Region ID</th>
      <th>Author</th>
      <th>News Source ID</th>
      <th>Date</th>
      <th>Content</th>
      <th>URL</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= link_to "#{resource.title}", resource %></td>
        <td><%= resource.world_region_id %></td>
        <td><%= resource.author %></td>
        <td><%= resource.news_source_id %></td>
        <td><%= resource.date %></td>
        <td><%= resource.content %></td>
        <td><%= resource.url %></td>
        <td><%= resource.admin_notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
