<div class="resources-show-body">
  <div class="container-fluid">
    <h1 class="resources-heading-title"><%= @resource.title %></h1>
    <div class="row">
      <div class="col-md-3">
        <p id="resources-titles">Title:</p>
        <p id="resources-titles">Author:</p>
        <p id="resources-titles">News Source:</p>
        <p id="resources-titles">World Region(s):</p>
        <p id="resources-titles">Date:</p>
        <p id="resources-titles">Url:</p>
        <p id="resources-titles">Content:</p>
      </div> <!-- col-md-3 -->
      <div class="col-md-9">
        <p><%= @resource.title %></p>
        <p><%= @resource.author %></p>
        <p><%= @resource.news_source.name %></p>
        <p>
          <% @resource.world_regions.each do | world_region | %>
            <%= world_region.name %>
          <% end %>
        </p>
        <p><%= @resource.date %></p>
        <p><%= @resource.url %></p>
        <p><%= @resource.abstract %></p>
      </div> <!-- col-md-9 -->
    </div> <!-- row -->
    <%= link_to "All resources", resources_path %>
  </div> <!-- container-fluid -->
</div> <!-- resources-showbody -->
