<h1><%= @resource.title %></h1>
<p>World region: <%= @resource.world_region %></p>
<p>Title: <%= @resource.title %></p>
<p>Author: <%= @resource.author %></p>
<p>News Source: <%= @resource.news_source %></p>
<p>Date: <%= @resource.date %></p>
<p>Summary: <%= @resource.summary %></p>
<p>Url: <%= @resource.url %></p>
<p>Notes: <%= @resource.notes %></p>

<%= link_to "All resources", resources_path %>
