<div class="search-page-body">
  <div id="search-parallax">
    <div class="heading-title">
      <h2 class="title">
        Search Results
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div>
  </div> <!-- search-parallax close -->
  <div id="team-chevron" class="team-background-color"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="search-page-button-wrap">
        <div class="search-page-button-resource-wrap">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu1" aria-haspopup="false" aria-expanded="true">
              Resource Type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu1">
              <% ResourceType.all.each do |resource_type| %>
                <li><a href="#" class="search-filter" data-filter="resource_type" data-value="<%=resource_type.name%>"><%= resource_type.name %></a></li>
              <% end %>
            </ul>
          </div> <!-- dropdown -->
        </div> <!-- search-page-button-resource-wrap -->
        <div class="search-page-button-world-regions">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu2" aria-haspopup="false" aria-expanded="true">
              World Regions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu2">
              <% WorldRegion.all.each do |world_region| %>
              <li><div class="checkbox">
                <label><input class="search-filter" data-filter="world_region" data-value="<%= world_region.name %>" type="checkbox"><%= world_region.name %></label>
              </div></li>
              <% end %>
            </ul>
          </div> <!-- dropdown -->
        </div> <!-- search-page-button-world-regions -->
        <div class="search-page-button-building-blocks">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu3" aria-haspopup="false" aria-expanded="true">
              Building Blocks
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu3">
              <% BuildingBlock.all.each do |building_block| %>
              <li><div class="checkbox">
                <label><input class="search-filter" data-filter="building_block" data-value="<%= building_block.name %>" type="checkbox"><%= building_block.name %></label>
              </div></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="search-page-button-environmental-tags">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu4" aria-haspopup="false" aria-expanded="true">
              Environmental Tags
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu4">
              <% EnvironmentalTag.all.each do |environmental_tag| %>
              <li><div class="checkbox">
                <label><input class="search-filter" data-filter="environmental_tag" data-value="<%= environmental_tag.name %>" type="checkbox"><%= environmental_tag.name %></label>
              </div></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="search-page-button-building-block-substeps">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu5" aria-haspopup="false" aria-expanded="true">
              Building Block Substeps
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu5">
              <% BuildingBlockSubstep.all.each do |building_block_substep| %>
              <li><div class="checkbox">
                <label><input class="search-filter" data-filter="building_block_substep" data-value="<%= building_block_substep.name %>" type="checkbox"><%= building_block_substep.name %></label>
              </div></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="search-page-button-environmental-subtags">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu6" aria-haspopup="false" aria-expanded="true">
              Environmental Subtags
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu6">
              <% EnvironmentalSubtag.all.each do |environmental_subtag| %>
              <li><div class="checkbox">
                <label><input class="search-filter" data-filter="environmental_subtag" data-value="<%= environmental_subtag.name %>" type="checkbox"><%= environmental_subtag.name %></label>
              </div></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="search-page-button-environmental-subtags">
          <div class="dropdown" id="test">
            <button class="btn btn-default" type="button" id="dropdownMenu7" aria-haspopup="false" aria-expanded="true">
              Cognitive Bias
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu search-dropdown scrollable-menu" aria-labelledby="dropdownMenu7">
              <% CognitiveBium.all.each do |cognitive_bium| %>
              <li><div class="checkbox">
                <label><input class="search-filter" data-filter="cognitive_bium" data-value="<%= cognitive_bium.name %>" type="checkbox"><%= cognitive_bium.name %></label>
              </div></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div> <!-- search-page-button-wrap -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="existing-filter-display-wrap">
          <p class="heading-title-filter">Filters:</h3>
          <ul id="existing-filter-display">
          </ul>
        </div>
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="search-page-wrap">
          <table class="table-hover table search-table">
            <thead>
              <tr>
                <th class="search-column-1">Title</th>
                <th class="search-column-1">Author</th>
                <th class="search-column">Date</th>
                <th class="search-table-content">Description</th>
                <th class="search-column">URL</th>
              </tr>
            </thead>
            <tbody id="search-table-body">
              <% @resources.each do |resource| %>
                <tr>
                  <td class="search-column-1"><%= link_to "#{resource.title}", "/search/#{resource.id}" %></td>
                  <td class="search-column-1"><%= resource.author %></td>
                  <td class="search-column"><%= resource.date %></td>
                  <% if resource.abstract %>
                    <td class="search-table-content more">
                      <%= resource.abstract %>
                    </td>
                  <% else %>
                    <td class="search-table-content more">
                      <%= resource.description %>
                    </td>
                  <% end %>
                  <td class="search-column"><%= link_to "#{resource.url}", resource.url, target: "_blank" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> <!-- search-page-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
</div> <!-- search-page-body -->

<script type="text/javascript">
  $('.search-filter').click(function() {
    var tableBody = $('#search-table-body');
    var checkedFilters = $("input:checked");
    var resourceTypeFilter = $("#resource-type-filter");
    var existingFilterDisplay = $("#existing-filter-display");
    searchFunction(this, tableBody, resourceTypeFilter, checkedFilters, existingFilterDisplay);
  });
</script>