<div class="container-fluid">
  <div class="search-page-body">
    <h1 class="search-heading-title">
      Search Results
    </h1>
    <div class="search-page-button-wrap">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Resource Type
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#" value="resource_type">Academic Article</a></li>
          <li><a href="#" value="resource_type">Popular Article</a></li>
          <li><a href="#" value="resource_type">Case Study</a></li>
          <li><a href="#" value="resource_type">Video</a></li>
          <li><a href="#" value="resource_type">Definition</a></li>
        </ul>
      </div>
    </div> <!-- search-page-button-wrap -->
    <div class="search-page-wrap">
      <table class="table-hover table search-table">
        <thead>
          <tr>
            <th>Title</th>
            <th class="search-column">World Region ID</th>
            <th>Author</th>
            <th class="search-column">News Source ID</th>
            <th>Date</th>
            <th class="search-table-content">Content</th>
            <th class="search-column">URL</th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |resource| %>
            <tr>
              <td><%= link_to "#{resource.title}", resource %></td>
              <td><%= resource.world_regions.first.name if resource.world_regions.any? %></td>
              <td><%= resource.author %></td>
              <td><%= resource.news_source_id %></td>
              <td><%= resource.date %></td>
              <% if resource.abstract %>
                <td class="search-table-content"><%= resource.abstract %></td>
              <% else %>
                <td><%= resource.description %></td>
              <% end %>
              <td><%= resource.url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- search-page-wrap -->
  </div> <!-- search-page-body -->
</div> <!-- container-fluid -->

