<div id="search-show-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      Resource Page
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div> <!-- partners-parallax -->
<div id="search-show-chevron" class="backgroundcolor"></div>
<div class= "white-space chevron" style="padding-top:70px;padding-bottom: 0px;margin:0 auto 0;">
</div>
<div class="resources-show-body">
  <div class="container-fluid">
    <h1 class="resources-heading-title"><%= @resource.title %></h1>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.title %>
          <p>Title:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p><%= @resource.title %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.author %>
          <p>Author:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p><%= @resource.author %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.resource_type %>
          <p>Resource Type</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.resource_type %>
            <%= @resource.resource_type.name %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.news_source %>
          <p>News Source:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
        <% if @resource.news_source %>
          <%= @resource.news_source.name %>
        <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.world_regions.any? %>
          <p>World Region:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.world_regions %>
            <% @resource.world_regions.each do | world_region | %>
              <%= world_region.name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.environmental_tags.any? %>
          <p>Environmental Tag(s):</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.environmental_tags %>
            <% @resource.environmental_tags.all.each do | environmental_tag | %>
              <%= environmental_tag.name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.environmental_subtags.any? %>
          <p>Environmental Subtag(s):</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.environmental_subtags %>
            <% @resource.environmental_subtags.all.each do | environmental_subtag | %>
              <%= environmental_subtag.name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.building_blocks.any? %>
          <p>Building Block(s):</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.building_blocks %>
            <% @resource.building_blocks.all.each do | building_block | %>
              <%= building_block.name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.building_block_substeps.any? %>
          <p>Building Block Substep(s):</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.building_block_substeps %>
            <% @resource.building_block_substeps.all.each do | building_block_substep | %>
              <%= building_block_substep.name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.cognitive_bia.any? %>
          <p>Cognitive Bia(s):</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.cognitive_bia %>
            <% @resource.cognitive_bia.all.each do | cognitive_bias | %>
              <%= cognitive_bias.name %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.date %>
          <p>Date:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.date %>
            <%= @resource.date.strftime("%B %d, %Y") %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.url %>
          <p>URL:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.url %>
            <%= link_to "#{@resource.url}", @resource.url, target: "_blank" %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if @resource.abstract %>
          <p>Abstract:</p>
        <% end %>
      </div>
      <div class="col-md-9">
        <p>
          <% if @resource.abstract %>
            <%= @resource.abstract %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row" style="text-align: center; padding-top: 25px; padding-bottom: 50px;">
      <div class="col-md-12">
        <%= link_to "View all resources", resources_path, target: "_blank", :class => 'btn btn-primary' %>
      </div>
    </div>
  </div> <!-- container-fluid -->
</div> <!-- resources-showbody -->