<div id="our-process-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      Our Process
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="our-process-chevron" class="our-process-background-color"></div>
<div class='container-fluid our-process-background-color'>
  <div class="container-fluid">
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
      <h1 class="client-green-text process-design-title" style='padding-top: 15px;'>Developing a behavior based campaign</h1>
      <p style='padding-top: 15px; padding-bottom: 10px;'>
        We work directly with non-profits, governmental agencies and companies to identify behavior-based solutions, then assist in the design and implementation of cost-effective and scalable strategies.
      </p>
      <p>
        We offer a step-by-step approach, rooted in human centered design, for integrating behavioral insights into both new and ongoing projects. No matter where you need help, our process can help.   
     </p>
   </div>
 </div>
</div>

<div class='row'>
  <div class='content'>
    <div class='tab-content'>
      <div id='Initiation' class='tab-pane fade in active our-process-parallax-1'>
        <h2>Initiation Phase</h2>
      </div>
      <div id='Ideation' class='tab-pane fade our-process-parallax-2'>
        <h2>Ideation Phase</h2>
      </div>
      <div id='Behavioral' class='tab-pane fade our-process-parallax-3'>
        <h2>Behavioral Diagnostics and Design</h2>
      </div>
      <div id='Piloting' class='tab-pane fade our-process-parallax-4'>
        <h2>Piloting and Implementation</h2>
      </div>
    </div>
  </div>
</div>

<div class='row' style='padding: 50px 0px 50px 0px;'>
  <div class="col-md-1"></div>
  <div class='col-md-2'>
    <ul id="sidebar-nav" class="nav nav-tabs nav-stacked">
      <li role="presentation" class="active"><a data-toggle="tab" href="#Initiation" class='tab-style'>Initiation Phase</a></li>
      <li role="presentation"><a data-toggle="tab" href="#Ideation" class='tab-style'>Ideation Phase</a></li>
      <li role="presentation"><a data-toggle="tab" href="#Behavioral" class='tab-style'>Behavioral Diagnostics and Design</a></li>
      <li role="presentation"><a data-toggle="tab" href="#Piloting" class='tab-style'>Piloting and Implementation</a></li>
    </ul>
  </div>
  <div class='col-md-7'>
    <div class='content'>
      <div class="tab-content">
        <div id="Initiation" class="tab-pane fade in active client-color"></div>
        <div id="Ideation" class="tab-pane fade"></div>
        <div id="Behavioral" class="tab-pane fade"></div>
        <div id="Piloting" class="tab-pane fade"></div>
      </div>
    </div>
  </div>
</div>
<!--  <div class="row">
   <div class="col-md-2"></div>
    <div class="col-md-4" >
      <%= image_tag 'process1.png', class: 'our_process' %>
    </div>
    <div class="col-md-4">
      <h3 class="text-color process-design-title">Initiation Phase</h3> 
        <p class="process_font">Identify the ideal audience, the key influencers, and the early adopters of your campaign mission. Cultivate an understanding of the social forces, values, and beliefs that influence your audience’s behavior and shape their perception of the issue. Refine the campaign strategy and goals to complement the goals, values and social world of your audience.</p>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <%= image_tag 'process2.png', class: 'our_process' %>
    </div>
    <div class="col-md-4">
      <h3 class="text-color process-design-title">Ideation Phase</h3>
      <p class="process_font">Using prior successes, bright spots and fresh insights, brainstorm unique behavioral approaches. Determine the optimal target environmental behaviors – considering benefits, barriers, feasibility, cost-effectiveness, probability of adoption and potential impacts.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <%= image_tag 'process3.png', class: 'our_process' %>
    </div>
    <div class="abc">
    <div class="col-md-4">
      <h3 class="text-color process-design-title">Behavioral Diagnostics and Design</h3>
      <p class="process_font">For the selected target behaviors, identify the social, situational, or cognitive barriers that stand in the way of audience action. Pinpoint the key motivators that will lead to selected e behaviors. Design a suite of targeted behavioral interventions using our behavioral building blocks. Develop a specialized behavioral or messaging prototype to test on the target audience.</p>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <%= image_tag 'process4.png', class: 'our_process' %>
    </div>
    <div class="col-md-4">
      <h3 class="text-color process-design-title">Piloting and Implementation</h3> 
      <p class="process_font">We espouse an iterative approach to Piloting and Implementation that is responsive to audience feedback. We work directly with clients to pilot or evaluate their campaigns and projects.</p>
    </div>
  </div>
</div>  -->