<script>
  $(function(){
    $('#sidebar-nav').affix({
      offset: {
        top: function() {
          return $('#header-row').offset().top + $('#header-row').outerHeight(true) - 170;
        }
      }
    })
    $('#sidebar-nav a').click(function(){
      $('#sidebar-nav').affix('checkPosition');
    })
  });
</script>

<div id="behavior_design-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      ROOT SOLUTIONS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="behvior_design-chevron" class="backgroundcolor">
</div>
<div class='container-fluid backgroundcolor'>
  <div class="container-fluid">
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10">
      <h1 style="font-size: 20px/1.4em">Developing a behavior based campaign</h1>
      <h3 style="font-size: 20px/1.4em">
       We work directly with non-profits, governmental agencies and companies to identify behavior-based solutions, then assist in the design and implementation of cost-effective and scalable strategies.


       We offer a step-by-step approach, rooted in human centered design, for integrating behavioral insights into both new and ongoing projects. No matter where you need help, our process can help.   
     </h3>
   </div>
 </div>
</div>


<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4" >
     <%= image_tag 'root1.png', class: 'our_process' %>
   </div>
   <div class="col-md-6">
    <h3>Initiation Phase</h3> 
    <p>Identify the ideal audience, the key influencers, and the early adopters of your campaign mission. Cultivate an understanding of the social forces, values, and beliefs that influence your audience’s behavior and shape their perception of the issue. Refine the campaign strategy and goals to complement the goals, values and social world of your audience.</p>
  </div>
</div> 
</div>


<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4">
    <%= image_tag 'root2.png', class: 'our_process' %>
  </div>
  <div class="col-md-6">
    <h3>Ideation Phase</h3>
    <p>Using prior successes, bright spots and fresh insights, brainstorm unique behavioral approaches. Determine the optimal target environmental behaviors – considering benefits, barriers, feasibility, cost-effectiveness, probability of adoption and potential impacts.</p>
  </div>
</div>
</div>

<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4">
    <%= image_tag 'root3.png', class: 'our_process' %>
  </div>
  <div class="col-md-6">
    <h3>Behavioral Diagnostics and Design</h3>
    <p>For the selected target behaviors, identify the social, situational, or cognitive barriers that stand in the way of audience action. Pinpoint the key motivators that will lead to selected e behaviors. Design a suite of targeted behavioral interventions using our behavioral building blocks. Develop a specialized behavioral or messaging prototype to test on the target audience.</p>
  </div>
</div>
</div>


<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4">
    <%= image_tag 'root4.png', class: 'our_process' %>
  </div>
  <div class="col-md-6">
    <h3>Piloting and Implementation</h3> 
    <p>We espouse an iterative approach to Piloting and Implementation that is responsive to audience feedback. We work directly with clients to pilot or evaluate their campaigns and projects.</p>
  </div>
</div>
</div> 
<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10">
    <h1 style="font-size: 20px/1.4em">Developing a behavior based campaign</h1>
    <h3 style="font-size: 20px/1.4em">
     We work directly with non-profits, governmental agencies and companies to identify behavior-based solutions, then assist in the design and implementation of cost-effective and scalable strategies.


     We offer a step-by-step approach, rooted in human centered design, for integrating behavioral insights into both new and ongoing projects. No matter where you need help, our process can help.   
   </h3>
 </div>
</div>
</div>


<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4" >
     <%= image_tag 'root1.png', class: 'our_process' %>
   </div>
   <div class="col-md-6">
    <h3>Initiation Phase</h3> 
    <p>Identify the ideal audience, the key influencers, and the early adopters of your campaign mission. Cultivate an understanding of the social forces, values, and beliefs that influence your audience’s behavior and shape their perception of the issue. Refine the campaign strategy and goals to complement the goals, values and social world of your audience.</p>
  </div>
</div> 
</div>


<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4">
    <%= image_tag 'root2.png', class: 'our_process' %>
  </div>
  <div class="col-md-6">
    <h3>Ideation Phase</h3>
    <p>Using prior successes, bright spots and fresh insights, brainstorm unique behavioral approaches. Determine the optimal target environmental behaviors – considering benefits, barriers, feasibility, cost-effectiveness, probability of adoption and potential impacts.</p>
  </div>
</div>
</div>

<div class="container-fluid">
 <div class="row">
   <div class="col-md-1"></div>

   <div class="col-md-4">
    <%= image_tag 'root3.png', class: 'our_process' %>
  </div>
  <div class="col-md-6">
    <h3>Behavioral Diagnostics and Design</h3>
    <p>For the selected target behaviors, identify the social, situational, or cognitive barriers that stand in the way of audience action. Pinpoint the key motivators that will lead to selected e behaviors. Design a suite of targeted behavioral interventions using our behavioral building blocks. Develop a specialized behavioral or messaging prototype to test on the target audience.</p>
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= image_tag 'root4.png', class: 'our_process' %>
    </div>
    <div class="col-md-6">
      <h3>Piloting and Implementation</h3> 
      <p>We espouse an iterative approach to Piloting and Implementation that is responsive to audience feedback. We work directly with clients to pilot or evaluate their campaigns and projects.</p>
    </div>
  </div>
</div>
</div>
