<div class="why-behavior-body">
  <div id="why-behavior-parallax"> 
    <div class="heading-title">
      <h2 class="title">
        WHY BEHAVIOR
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div>
  </div> <!-- why-behavior-parallax -->
  <div id="why-behavior-chevron" class="backgroundcolor"></div>
  <div class='container-fluid backgroundcolor'>
    <div id="header-row" class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div class="col-md-12">
          <div class="why-behavior-wrap">
            <p>
              Why Behavior? Unraveling what drives human beliefs, attitudes and actions is a complex task.  We have subconscious mechanisms which play havoc with our ability to make rational decisions, despite our best intentions. Our tendencies to underestimate risk, interpret facts incorrectly, and live at odds with our values are just a few examples of how these mechanisms affect us.
            </p>
            <p>
              These cognitive foibles are especially obvious when it comes to environmental issues; we individually and collectively continue to make destructive choices that degrade the planetary systems we need to sustain us.  Many environmental campaigns are based on the erroneous assumption that we can simply raise awareness to encourage behavior change, and that once a solution has been developed it will simply “catch on” at a large scale.  Environmental organizations need conservation solutions that are scaled to the environmental problems they face.  Research shows that providing information alone is not enough to change public behavior – we need to find conservation solutions that work directly with how humans think, act, and make decisions.
            </p>
            <p>
              When environmental champions lack the expertise to effectively overcome mental barriers and persuade people to adopt needed changes, they can turn to behavioral science and behavioral economics. These disciplines explore how people process information and make decisions. "Behavioral Insights” are proven, effective tools for aligning behaviors with sustainability on both the individual and collective level.
            </p>
            <p>
              Scientists have highlighted the need for the urgent transformation of our social, economic and industrial systems to create a prosperous, resilient future. We have developed the technological solutions necessary, and will continue to innovate.
            </p>
            <p>
              Now it is time to embrace another type of innovation – social innovation. We have the opportunity to use all that we understand about our own behavior to solve the psychological, social and institutional roadblocks that are our largest challenges. Behavioral science is a proven and promising approach to improving environmental initiatives, and Root Solutions’ mission is to build the behavioral science capacity within the environmental community.
            </p>
            <p>
              Below is an in depth look at the mental challenges we face. Learn more about the solutions that allow us to overcome these challenges and bring about pro-environmental actions here.
            </p>
          </div> <!-- why-behavior-wrap -->
        </div> <!-- col-md-12 -->
      </div> <!-- col-md-8 -->
    </div> <!-- header-row row -->
    <div id="why-behavior-parallax" class="heading-title">
      <h2 class="other-titles">
        Automatic Thinking
      </h2>
    </div>
    <div class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div class="col-md-12">
          <div class="automatic-thinking-wrap">
  ​          <blockquote>
              <p>
                <h3 class="why-behavior-header-three">
                  Attention and energy are needed for making judgments and taking actions, but both are finite
                </h3>
              </p>
            </blockquote>
            <p>
              At any given moment, we have a finite amount of attention at our disposal. We automatically conserve our limited attention for those tasks that seem pressing.  In the process we may forget to do other important things with benefits that don’t materialize until the future. Additionally, when attention is stretched, people have a difficult time focusing on both the benefits and costs of options, making rational decisions nearly impossible to make. These errors of omission can have serious consequences.
            </p>
            <p>
              Furthermore, when we’re focused on completing a task or understanding a piece of information we may not notice other things going on around us, even if those things are unusual or important. This “inattentional blindness” was clearly demonstrated in a landmark study called the Invisible Gorilla Test. Participants were given an effortful task designed to take up their attention (e.g., count the number of times a basketball was passed in a video). While they focused on this task, a woman walked through the background of the video – either holding an umbrella, or wearing a full gorilla suit. As many as 50% of the subjects didn’t notice the woman, either with the umbrella OR wearing the suit.
            </p>
            <p>
              This phenomenon of having only limited attention impacts our daily lives and shapes the decisions we make by limiting the amount of information we have to base them on. We also experience a phenomenon called “decision fatigue” or “choice overload” when we’re presented with too many options or too much information. This can cause us to give up and avoid making a choice all together. Furthermore, it takes a lot of mental energy to acquire and habitualize new behaviors. During this process we must use our System 2 thinking, and so we become subject to cognitive fatigue. As we become skilled at or accustomed to something, the effort associated with performing the action goes down (we experience cognitive ease).  When a problem appears to be easy, we tend to use System 1, expending much less energy but making us more prone to logical errors.  When a task creates a small amount of strain (such as if you had to read a trick question but it was smudged, forcing you to put more effort into decoding the words) you are more likely to answer correctly. 
            </p>
            <p>
              Self-control also draws upon a limited pool of mental resources that can be used up. When we lack self-control we are less likely to successfully achieve our own behavior change goals. Small barriers to completing a given behavior can disproportionately reduce the likelihood that we’ll follow through. Because of our constant subconscious quest to preserve our energy and seek out the easiest options, trivial obstacles (“hassle factors”) like having to wait in a line or fill out a form are enough to halt behavior change.
            </p>
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">
                  We rely on predictable cognitive biases and heuristics that lead us astray
                </h3>
              </p>
            </blockquote>
            <p>
              Making decisions requires cognitive effort. As decisions become more difficult, we tend to take the path of least resistance by reducing the amount of effort that we invest in making a choice.  We have evolved a whole host of subconscious cognitive tricks that help us make decisions quickly, thereby conserving energy and allowing us to stick to our System 1 thinking processes. There are potentially thousands of details that could be observed in any given situation. Because we have limited mental energy to devote to decision-making on a day to day basis we use mental shortcuts, called “heuristics”, to help us problem solve without having to spend time searching for all the necessary information and weighing the costs and benefits.  These heuristics can be very useful for helping us process a large amount of stimuli and information quickly, but they can also lead to predictable errors in reasoning, judgment and decision-making.  These predictable errors are called cognitive biases and they distort our perceptions.
            </p>
            <p>
              For example, we often see patterns where none exist (representativeness heuristic), allow our current emotional state to influence our decisions (affect heuristic), and ignore “general” information, like statistics, that pertain to large groups, and focus instead on “specific” information that may only pertain to an individual case (base rate fallacy). We also tend to overestimate the significance of information that appears especially immediate, vivid, or tangible (availability heuristic). This means that we tend to think that an event—such as, for instance, a massive storm or flood—is more likely when we can readily think of examples of such an event happening in the past, and events seem less likely if we don’t associate them with a vivid mental image. Furthermore, we over-value the opinions of people who we believe to be experts or authority figures (authority and expert heuristic), we favor the opinions of people who are similar to us over people who we consider to be “outsiders” (in-group bias), and we assume that people’s actions result in morally fair consequences, so that any situation a person is in must be fitting and justified (just world fallacy). These biases and heuristics can be problematic because they often encourage us to focus in on the most eye-catching readily palpable aspects of an issue, blinding us to its larger, more complex, or more difficult to digest causes and repercussions. However countering their effects can be as simple as increasing people’s awareness of them just before asking them to make decisions or take in new information.
            </p>
            <div class="why-behavior-more-resources">
              <h4>More resources</h4>
              <ul class="why-behavior-resources" style="font-size:18px">
                <li>
                  <%= link_to "Brain Biases Blog", "http://brainshortcuts.blogspot.com/", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "World Bank Report 2015 – Mind, Society, and Behavior: Chapter 1", "http://www.worldbank.org/404_response.htm", target: "_blank" %>
                </li>
              </ul> <!-- why-behavior-resources -->
            </div> <!-- why-behavior-more-resources -->
          </div> <!-- automatic-thinking-wrap -->
        </div> <!-- col-md-12 -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
    <div id="why-behavior-parallax" class="heading-title">
      <h2 class="other-titles">Social Thinking</h2>
    </div>
    <div class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div class="col-md-12">
          <div class="social-thinking-wrap">
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">
                  Our sense of self profoundly shapes our behaviors and choices
                </h3>
              </p>
            </blockquote>
            <p>
              Our choices are profoundly impacted by our sense of self. We desire to see ourselves, and for others to see us, as “good people” who do the right thing, make educated choices, and don’t waiver in our commitments over time. We want to appear consistent with our past selves and our public promises – this is why asking for a public commitment is so powerful for eliciting desired behaviors (see side box?). We also act in ways that make us feel better about ourselves. After engaging in a behavior we judge to be “bad” (for ourselves or for others) we are driven to engage in “good” or “moral” behaviors to offset our negative feelings. For example, after driving to work rather than commuting in a more sustainable manner (e.g., riding a bike, taking the bus) we may be more likely to make a sustainable choice at lunch time to alleviate our feeling of environmental guilt. However, there’s a flip side to this “moral cleansing” coin wherein we often feel authorized to engage in “bad” behaviors after we’ve done something “good”.  This “moral licensing” is a common problem encountered in home efficiency programs—those who save a lot of energy one month may feel that they have licensed themselves to use more energy the next month.
            </p>​
            <p>​
              Our sense of self is also highly impacted by our perception of how meaningful our actions are. We lose motivation if we believe that our actions are not making a difference.  For example, if an environmental group attempts to address a conservation problem in a community, but fails to follow through, allowing the problem to persist or return after the initial intervention, the community will be less inclined to work with the next environmental group that attempts to address that issue (i.e. they experience Conservation Fatigue). Relatedly, the more effort we put into something inspired by a belief, the stronger our convictions will be about that belief (effort justification, or “the Ikea effect”). For example, working to raise money or support for a project or campaign makes us more resolute in our beliefs about the value of the cause or candidate we’re supporting.
            </p>
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">
                  Our understanding of our relationship to society and community also profoundly shapes our behaviors and choices
                </h3>
              </p>
            </blockquote>
            <p>
              In addition to our sense of self, our perceptions and beliefs about our role in society and our social networks can significantly influence our actions. Social expectations, the desire for recognition, care for in-group members, and social norms all influence our behavior without our conscious awareness. People are “social animals” by nature. We tend to care what other people think of us, and we are strongly influenced by social pressures. The networks and groups that we are members of dictate many of the choices we make because we look to others for examples of the best ways to behave and we strive to fit in. Furthermore, adopting the opinions and behaviors of the majority is a way to feel safe when we’re forced to make decisions about which we may not be well-informed (social proof heuristic). Studies have shown that the likelihood that someone will choose a specific option is directly proportional to the number of other individuals who’ve already chosen it (i.e. bandwagon effect, conformity experiments).
            </p>
            <p>
              However, sometimes we are mistaken about the prevalence of a given behavior or belief in our societies. When considering beliefs, or behaviors that may not be performed publically, we may assume that our belief is in line with the social norm when in fact it is not. Thus, negative behaviors can be subconsciously reinforced by social norms even when there are none. Helping people to recognize these incorrect assumptions (for example, publishing statistics on the prevalence of the belief that climate change is an important issue among a specific audience) can be a powerful motivator of behavior change. Relatedly, we often assume that the beliefs of one member of a group (our own or another) are representative of the whole group, or that the outcome of a group decision reflects the personal beliefs of every member of the group. These “group attribution errors” can lead to polarization that can undermine efforts to move towards consensus on necessary behavior changes.
            </p>
            <div class="why-behavior-more-resources">
              <h4>More resources</h4>
              <ul class="why-behavior-resources" style="font-size:18px">
                <li>
                  <%= link_to "Fostering Sustainable Behavior – Community-Based Social Marketing", "http://www.cbsm.com/public/world.lasso", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "Community Tool Box – Social Marketing", "http://ctb.ku.edu/en/sustain/social-marketing/overview/main", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "WWF – Strategies for Change", "http://www.wwf.org.uk/what_we_do/strategies_for_change22.cfm", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "World Bank Report 2015 – Mind, Society, and Behavior: Chapter 2", "", target: "_blank" %>
                </li>
              </ul> <!-- why-behavior-resources -->
            </div> <!-- why-behavior-more-resources -->
          </div> <!-- social-thinking-wrap -->
        </div> <!-- col-md-12 -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
    <div id="why-behavior-parallax" class="heading-title">
      <h2 class="other-titles">Mental Models</h2>
    </div>
    <div class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div class="col-md-12">
          <div class="mental-models-wrap">
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">Our existing mental models/ personal frames (values, worldviews, priorities, and identities) strongly influence our perceptions and beliefs</h3>
              </p>
            </blockquote>
            <p>
              Everyone has certain ideas about how the world works based on the way we’ve interpreted our experiences and “mentally edited” the information we’ve come across. In other words, our interpretations of every new situation are colored by on our past experiences, our expectations, our values, and our assumptions, and every new experience must be built into our existing mental frameworks. Mental models differ from social norms in that they do not need to be directly “enforced” by social pressure, and in that they concern broad interpretations of the world as opposed to specific behaviors or choices.
            </p>
            <p>
              Often, especially if a situation is ambiguous, complex, or uncertain, we will rely on default assumptions – i.e., a mental model -- to help make sense of the information we’re presented. Mental models are thus one form of mental heuristic – they help us make decisions using limited time and energy. But they also may lead us astray. Our mental models can be thought of as the “frames” through which we view the world – with the implication that we can only see part of the picture through our limited frame, and are thus left to use our models make assumptions about the parts of the world we cannot see. In addition to limiting the amount of information we can or will take in, our mental models can also sometimes simply be out of sync with reality.
            </p>
            <p>
              Mental models are based on values, worldviews, priorities, and identities. Values include things like honesty, loyalty, fairness, patriotism, privacy, etc. Worldviews include beliefs about how the world should operate (e.g., through a hierarchical structure, where group status determines level of authority or through an egalitarian structure, where people are treated more equally), and also about the degree to which a person should be able to peruse their own interests at the expense of the “greater good” (i.e., individualism vs. consumerism). Priorities refer to things that motivate us, like equality, personal freedom, environmental protection, etc., and identities describe our various roles in our families and society. Everyone has multiple identities (e.g., wife, mother, daughter, doctor, friend, environmentalist, etc.), and depending on which identity we are actively relating to at a particular time, we may respond to different messages differently. For example, if we are thinking of ourselves as “environmentalists” we may be more likely to want to make environmentally positive choices than if we are thinking of ourselves as one of our other identities.
            </p>
            <p>
              We often assume that others will share our belief systems and worldviews, or even ignore information that violates our existing assumptions. This can cause us to misinterpret a situation, and make judgments and choices that may systematically exclude certain types of information that don’t fit our worldview. Stereotypes are a common example of a mental model in which we make assumptions about an entire social group based on limited information or overly-generalized beliefs. In addition, our ingrained mental models can lead to a number of difficulties from the perspective of getting people to change their unsustainable behaviors. For instance, the behavioral principle “confirmation bias” describes our tendency to seek out and selectively focus on information that confirms our pre-existing beliefs. As people whose mental models don’t include belief in climate change, for example, are exposed to new information, they selectively interpret the facts to support their own beliefs, and retain their original choices even in the face of dramatic and mounting evidence to the contrary. Confirmation bias can be hard to overcome because “cognitive dissonance” arises when we are presented with information that contradicts our mental models. The insistence that the new information is incorrect or irrelevant helps to sooth that discomfort. Furthermore, the more contradictory information is presented, the more polarized attitudes can become!
            </p>
            <p>
              Another type of cognitive dissonance occurs when we realize that our actions are not in line with our values—such as when we would like to be able to recycle our paper scraps, but must throw them away when recycling is not available. Unfortunately, in these types of situations we may resolve our cognitive dissonance by changing our values to better match the situation (which we may have no control over), in order to make our actions feel less objectionable.
            </p>
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">The surrounding context can also influence our decisions</h3>
              </p>
            </blockquote>
            <p>
              Other contextual factors can also impact our choices. Subtle changes in the wording of a choice or the presentation of the information can sway our decisions. For example, we are far more motivated to avoid losses than to achieve gains, and different people may be inspired to make the same choice based on vastly different presentations of the information (e.g., choosing to pass strict pollution regulations because it’s good for the environment vs. because it’s important for human health and equality).
            </p>
            <p>
              Sometimes factors that are unrelated to our values, beliefs, or even the actual choice at hand can have a profound influence on which option we choose. For example, if we make a decision arbitrarily one time (for example, maybe we grab a laundry detergent off the shelf without really thinking about which brand it is or why we’ve picked it) we are more likely to choose that same option again in the future. And what’s more, our opinion about the option we chose will actually improve once we’ve chosen it, such that we will rate that item higher in the future, and other items lower.
            </p>
            <div class="why-behavior-more-resources">
              <h4>
                More resources
              </h4>
              <ul class="why-behavior-resources" style="font-size:18px">
                <li>
                  <%= link_to "World Bank Report 2015 – Mind, Society, and Behavior: Chapter 3", "", target: "_blank" %>
                </li>
              </ul> <!-- why-behavior-resources -->
            </div> <!-- why-behavior-more-resources -->
          </div> <!-- mental-models-wrap -->
        </div> <!-- col-md-12 -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
    <div id="why-behavior-parallax" class="heading-title">
      <h2 class="other-titles">Abstract Thinking</h2>
    </div>
    <div class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <div class="col-md-12">
          <div class="abstract-thinking-wrap">
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">
                  We struggle with decision-making when there is uncertainty or risk
                </h3>
              </p>
            </blockquote>
            <p>
              Uncertainty has a profound impact on human perception and action.  We don’t like having to make decisions without all the relevant information, or when there are risks involved. We implement a variety of subconscious tricks to address risk and uncertainty, or to make ourselves feel better about risky decisions we’ve made. Because we tend to preserve our energy, uncertainty gives us permission to not worry about a decision (like acting to reduce climate change) until the “experts figure it out,” or go along with the majority’s decision without weighing the facts ourselves.
            </p>
            <p>
              It can be very valuable for environmental practitioners to understand the idiosyncrasies common to human behavior and decision making under uncertainty. For example, “loss aversion” is a term referring to our tendency to fear losses more than we value gains. When making a risky decision, as a general rule, losses count for about twice as much as gains in determining people’s choices. Knowledge about this cognitive bias can be valuable for strategically framing communication on environmental issues for public audiences. It has been shown that, when presenting the case for increased forest management (and therefore protection) people were willing to donate more when the argument was framed to emphasize restoring previously lost forest health and preventing further losses, as opposed to improving and protecting current forest health. Our aversion to loss makes us more amenable to risk in our decision-making, and therefore increases the effectiveness of environmental messages that highlight what might be lost, as opposed to gained.
            </p>
            <p>
              We also tend to stick to business as usual, or the status quo, rather than choose to make a change in our behavior when we don’t know the outcome with certainty. This is especially true when deviation from the status quo, or default, requires a more complex set of behaviors or active choices. This “status quo bias” becomes relevant when certain system-wide defaults are implemented when we choose to take no action—for instance, a printing system that automatically prints one-sided sheets unless the user specifies that printing should be double-sided. We often interpret these system defaults as recommendations from people who know more about the outcomes of the decision than we do, the choice that is most often selected by others, or the choice that is the easiest to make. This tendency to accept what we are currently experiencing or the choice that will be implemented if we take no action can be particularly important when facing wide-scale conservation and environmental crises—people may be willing to accept high rates of species extinction or increasing atmospheric greenhouse gas concentrations simply because these trends will continue if no action is taken to stop them.
            </p>
            <blockquote>
              <p>
                <h3 class="why-behavior-header-three">
                  We are not very good at planning or considering the future, or at abstract thinking in general. We tend to make choices that favor our short-term needs at the expense of our long-term needs.
                </h3>
              </p>
            </blockquote>
            <p>
              Related to our discomfort with uncertainty, we are not very good at planning for the future. We tend to make incorrect assumptions about how we will feel in the future, and we generally end up making choices that favor our short-term over our long-term needs. This is due in part to a phenomenon called “hyperbolic discounting”, which refers to our tendency to prefer smaller payoffs now to larger payoffs later, both because of the uncertainty around our future needs, and the actual depreciation of money as time goes on. One of the barriers that prevents us from making energy efficiency improvements in our homes, fishing sustainably or consuming less, is that the benefits from these activities are accrued over a long period of time, but the costs connected with them are immediate and sometimes large.
            </p>
            <p>
              This situation is exacerbated when we don’t have the resources to meet our basic needs (e.g., food, shelter, safety). In this situation we are in the “scarcity mindset”, and our mental capacity for long-term decision-making is considerably reduced. The scarcity mindset causes us to focus our choices and decisions on finding the scarce resource and meeting our most immediate needs in the short-term at the expense of our other, longer-term needs. The stress associated with being in a state of constant scarcity can result in reductions to our fluid intelligence and executive control (system 2), leaving us at a cognitive disadvantage. The scarcity effect becomes particularly relevant when considering the impact of poverty on decision-making. People living in poverty are in a continual state of scarcity because they must expend large amounts of cognitive energy on meeting their immediate needs of food and shelter. Poverty thus creates a situation where people are constantly experiencing a deficit of mental energy needed to think deliberatively and make well-informed choices[iv]. This situation is particularly relevant in low income communities or developing countries where it may be especially difficult for people to change unsustainable behaviors that meet short-term needs, even if these behaviors will be detrimental to their own wellbeing in the long term.
            </p>
            <p>
              This deficiency in accurately predicting and addressing our future needs, and our consistent inability to plan effectively for the future, are both rooted in the difficulties we have with abstract thinking. When something or someone is abstract to us, such that we can’t fully picture or relate to them, we tend to make poor predictions of how future events will unfold, how happy or unhappy we will be, and how our decisions may affect other people. The “empathy gap” explains the difficulties we have feeling empathetic towards people that we can’t see or have never met. This phenomenon also extends to non-human “victims” or problems that are occurring far away. The empathy gap means that we are more likely to want to help a specific individual (an “identifiable victim”) than a large, nebulous group, especially if the victim is someone who seems similar to ourselves in some way. Thus, if we want to inspire action on a distant or complex problem it’s extremely important to utilize good messaging to translate the issue into one that people can relate to – perhaps by selecting one poignant, relatable story line, or by connecting the impacts to people or places close to our target audiences. Doing so will allow people to better understand how their actions can make a difference because they will be able to picture the outcome more easily.
            </p>
            <p>
              One final behavioral insight related to our inability to think in the abstract is our “scope insensitivity.” This important principle describes how our valuation of a problem, or our willingness to pay to mitigate a problem, doesn’t always scale in proportion to the problem. Studies have shown that, while people may be willing to pay a reasonable amount to protect one single wilderness area[v], to clean up one single lake[vi], or to save a small quantity of migrating birds[vii], the amounts their willing to pay only increase slightly as the scope of the conservation goals increase drastically (i.e. wilderness areas in all 50 states, all the lakes in the country, 100 times as many birds), implying a disconnect in their understanding of the problem when it reaches larger scales. It may be helpful to break large scale problems up, if possible, into smaller, more relatable segments. For example, instead of campaigning to save all of the world’s whales it may be more effective to create a series of campaigns, each with the goal of saving just the whales that migrate through a specific area, and each targeted to that area directly.
            </p>
            <div class="why-behavior-more-resources">
              <h4>More resources</h4>
              <ul class="why-behavior-resources">
                <li>
                  <%= link_to "World Bank Report 2015 – Mind, Society, and Behavior: Chapter 4", "", target: "_blank" %>
                </li>
                <li>
                  <%= link_to "CFED – Behavioral Economics 101", "http://cfed.org/knowledge_center/research/behavioral_economics/behavioral_economics_101/", target: "_blank" %>
                </li>
              </ul> <!-- why-behavior-resources -->
            </div> <!-- why-behavior-more-resources -->
          </div> <!-- abstract-thinking-wrap -->
        </div> <!-- col-md-12 -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
  </div> <!-- container-fluid backgroundcolor -->
</div> <!-- why-behavior-body -->