<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <h2 class="h4">Go to:</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="<%= resources_path %>">Resources</a></li>
        <li><a href="<%= building_blocks_path %>">Building Blocks</a></li>
        <li><a href="<%= building_block_substeps_path %>">Building Block Substeps</a></li>
        <li><a href="<%= cognitive_bia_path %>">Cognitive Bias</a></li>
        <li><a href="<%= environmental_tags_path %>">Environmental Tags</a></li>
        <li><a href="<%= environmental_subtags_path %>">Environmental Subtags</a></li>
        <li><a href="<%= world_regions_path %>">World Regions</a></li>
        <li><a href="<%= resource_types_path %>">Resource Types</a></li>
        <li><a href="#">Users</a></li>
      </ul>
    </div>
</div>
