<!DOCTYPE html>
<html>
  <head>
    <title>RootSolutions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/navbar"  %>
    <div class="container-fluid">
      <div class="row">
      <!-- remove sidebar and place in dashboard and work out bootstrap so it looks good for eiather admin or viewer -->
      <% if current_user %>
      <div class="col-md-3">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="col-md-9">
      <% else %>
      <div class="col-md-9">
      <% end %>
      <%= yield %>
    </div>
    </div>
  </div>
  </body>
</html>
